<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profilestyle.css' %}">
    <title>Document</title>
</head>
<body>
    <header class = "header">
        <div class = "header_container">
            <h1>Welcome to our profile page!</h1>
        </div>
    </header>
    <main>
        <section class = "hero">
            <div class = "hero_content">
                <form class = "hero_form" method = "POST">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    {{ form.email }}
                    <button type = "submit">Send</button>

                    <a href="{% url "home" %}">back to home page</a>
                </form>
            </div>
        </section>
    </main>
</body>
</html>